@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

#container{
    background-color: #E5E5E5;;
    width: 414px;
    height: 1000px;
}
#topo{

    width: 414px;
    height: 92px;
    position: relative;
}
#topo div{
    background-color: #CF2B2B;
    width: 414px;
    height: 92px;
    position: fixed
}
#topo div h1{ 
    width: 248px;
    height: 44px; 
    margin-top: 8px;
    margin-left: 21px;
    font-weight: 400;
    font-size: 44px;
    font-family: 'Righteous', cursive;
    color: white;
}
#topo div h2{ 
    width: 226px;
    height: 17px;
    margin-top: 5px;
    margin-left: 21px;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#barra_inferior{
    background-color: blueviolet;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 414px;
    height: 92px;
    display: flex;
}
#barra_inferior div{
    align-items: center;
    display: flex;

}
#barra_inferior h1{
    color: red;
}
.botao{
    margin-left: 25px;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    background-color: #CBCBCB;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em; 
    line-height: 23px;
    vertical-align: 100%;
    color: white;
    border: none;
}